/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url(/main/images/699722.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: khaki;
    padding-left: 5px;
    text-decoration: none;
}

/* Header */
.header {
    background-color: yellow;
    box-shadow: 1px 1px 5px 0px gray;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    color: brown;
    display: inline-block;
    font-size: 60px;
    margin-left: 10px;
}

h2 {
    background-color: black;
    color: aqua;
    font-size: 40px;
    text-align: center;
}

footer {
    background-color: darkgoldenrod;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}