/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

a {
    color: blueviolet;
    text-decoration: none;
}

/* Header */
.header {
    background-color: yellow;
    box-shadow: 1px 1px 5px 0px gray;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    display: inline-block;
    font-size: 60px;
    margin-left: 10px;
}

h2 {
    background-color: black;
    color: aqua;
    font-size: 40px;
    text-align: center;
}

footer {
    background-color: #54ccf4;
    text-align: center;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}