body {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    font-size: 60px;
}

a:hover {
    color: blue;
}

.header {
    background-color: #9933cc;
    color: #ffffff;
    font-size: 40px;
    width: 100%;
}

.footer {
    background-color: #54ccf4;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.name {
    padding-right: 260px;
}

.email {
    padding-right: 258px;
}

.subject {
    padding-right: 250px;
}

.description {
    padding-right: 222px;
}

input {
    width: 300px;
    padding: 5px;
    margin-bottom: 25px;
}

button {
    width: 100px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 20px;
}