/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    background-image: url(/main/images/699703.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}

a {
    color: khaki;
    padding-left: 5px;
    text-decoration: none;
}

/* Header */
.header {
    background-color: yellow;
    box-shadow: 1px 1px 5px 0px gray;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Logo */
.logo {
    color: brown;
    display: inline-block;
    font-size: 60px;
    margin-left: 10px;
}

form {
    text-align: left;
    padding-top: 150px;
}

.name {
    padding-right: 510px;
}

.email {
    padding-right: 510px;
}

.subject {
    padding-right: 500px;
}

.description {
    padding-right: 470px;
}

input {
    width: 50%;
    padding: 10px;
    margin-bottom: 25px;
    border-color: rebeccapurple;

}

label {
    color: rgb(0, 255, 251);
}

button {
    width: 75px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 30px;
}

footer {
    background-color: darkgoldenrod;
    text-align: center;
    font-size: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px;
}

@media (min-width : 768px) {
    form {
        text-align: center;
    }

    input {
        width: 550px;
        padding: 20px;
        margin-bottom: 25px;
        border-color: rebeccapurple;

    }

    body {
        background-image: url(/main/images/699703.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    button {
        width: 125px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 30px;
    }
}